/* ./dart-sass/sass Sass/style.scss CSS/style.css --watch */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@keyframes slide-item {
  0% {
    margin-top: 27px;
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1, .menu h2, #footer h3 {
  font-family: "Shrikhand", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  width: 100%;
  margin: 0;
}
body ol, body ul {
  list-style: none;
}

.button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  padding: 0.9rem 1.5rem;
  border: none;
  border-radius: 3rem;
  font-size: 1rem;
  box-shadow: 0.1rem 0.25rem 0.4rem #c3c3c3;
  cursor: pointer;
}
.button:hover {
  opacity: 0.9;
  box-shadow: 0.1rem 0.25rem 0.4rem #aaaaaa;
}

.loader_bg {
  background-color: #fff;
}

.loader {
  padding: 1rem;
  background: linear-gradient(-45deg, #9356DC, #FF79DA, #99E2D0, #9356DC, #FF79DA, #99E2D0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 2.5s ease-in-out infinite;
  background-size: 400% 400%;
}

/* 
<section class="loader_bg">
  <span class="loader">OHMYFOOD.</span>
</section> 
*/
.heart_empty {
  position: relative;
  color: #848484;
}

.heart_full {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.35s;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.heart_full:hover {
  opacity: 1;
}

img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 38px 38px 0 0;
  margin-top: -4rem;
  z-index: 2;
  position: relative;
  padding: 0.8rem 1.2rem 3.5rem 1.2rem;
}
.menu .title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 1rem;
  font-size: 1.15rem;
}
.menu .title i {
  font-size: 1.5rem;
}
.menu .button {
  display: block;
  margin: auto;
  margin-top: 3rem;
  width: 185px;
}
.menu .submenu h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 2.5rem 0 1.5rem 0;
  position: relative;
}
.menu .submenu h3::after {
  content: "";
  width: 2.5rem;
  height: 0.18rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.menu .submenu .nomargintop {
  margin-top: 0;
}
.menu .submenu .item {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0.1rem 0.25rem 0.4rem #eaeaea;
  margin-bottom: 1rem;
  cursor: pointer;
  overflow: hidden;
  animation: slide-item 1.3s 0.3s ease-in-out both;
}
.menu .submenu .item h4 {
  font-size: 1.1rem;
  margin: 0.7rem 0 0.3rem 0.7rem;
  font-weight: 500;
}
.menu .submenu .item p {
  font-size: 0.96rem;
  margin: 0 0 0.7rem 0.7rem;
}
.menu .submenu .item__txt {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}
.menu .submenu .item__txt p {
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .submenu .item__txt h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .submenu .item__price {
  margin-right: 1.3rem;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}
.menu .submenu .item__animation {
  margin-right: -60px;
  background-color: #99E2D0;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 60px;
  min-height: 100%;
  font-size: 1.3rem;
}
.menu .submenu .item__animation i {
  transform: rotate(-360deg);
}
.menu .submenu .item:hover .item__animation {
  margin-right: 0;
  transition: 0.4s ease-out;
}
.menu .submenu .item:hover i {
  transform: rotate(0deg);
  transition: 0.4s ease-out;
}

#header {
  width: 100%;
  display: flex;
  box-shadow: 0 0 0.4rem #b7b7b7;
  align-items: center;
  justify-content: center;
  position: relative;
}
#header .arrow {
  position: absolute;
  left: 22px;
  top: 22px;
  font-size: 1.2rem;
  color: #353535;
}
#header h1 {
  margin: 0.7rem 0 0.3rem 0;
  font-size: 1.9rem;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.2rem;
  background-color: #353535;
  height: 195px;
}
#footer h3 {
  font-weight: normal;
  margin-bottom: 1rem;
}
#footer > *, #footer a {
  color: #FFF;
  padding: 0;
  margin: 0;
}
#footer > * li, #footer a li {
  margin-bottom: 0.5rem;
}
#footer > * li i, #footer a li i {
  max-width: 6px;
  margin-right: 1rem;
}

#position {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #eaeaea;
}
#position input {
  font-size: 0.95rem;
  font-weight: 500;
}
#position_search {
  background-color: transparent;
  border: none;
  height: 48px;
  width: 122px;
}
#position i {
  padding-right: 0.7rem;
}

#discover {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  text-align: center;
  background-color: #f6f6f6;
  padding: 2.5rem 2.5rem 3.5rem 2.5rem;
}
#discover h2 {
  margin: 0;
  font-size: 1.54rem;
}
#discover p {
  font-size: 1.06rem;
  margin: 1rem 0 2rem 0;
  color: #353535;
}

#list {
  padding: 0 1.2rem;
  margin: 3rem 0 3.5rem 0;
}
#list .list_items_card {
  display: flex;
  align-items: baseline;
  margin: 1.5rem 0;
}
#list .list_numbers {
  background-color: #9356DC;
  border-radius: 100%;
  margin-right: -0.8rem;
  position: relative;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
}
#list .list_txt {
  background-color: #f6f6f6;
  padding: 1.7rem;
  border-radius: 1.5rem;
  box-shadow: 0.1rem 0.25rem 0.4rem #d8d8d8;
  font-weight: bold;
  width: 100%;
}
#list .list_txt i {
  color: #7e7e7e;
  max-width: 0;
  margin-right: 2.3rem;
}
#list .list_txt--purple {
  background-color: #f2eafb;
}
#list .list_txt--purple i {
  color: #9356DC;
}

.main {
  padding: 2.1rem 1.2rem;
  background-color: #f6f6f6;
}
.main img {
  max-width: 100%;
  min-width: 100%;
  max-height: 175px;
  object-fit: cover;
}
.main__img {
  position: relative;
}
.main_bloc_txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 0 0.8rem 0;
}
.main_bloc_txt i {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.main__txt h3, .main__txt p {
  margin: 0.2rem 7rem 0.2rem 0.8rem;
}

.article {
  box-shadow: 0.1rem 0.25rem 0.4rem #c3c3c3;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 1.3rem;
}

.img__txt {
  position: absolute;
  right: 1rem;
  background-color: #99E2D0;
  color: #24806a;
  font-weight: 500;
  margin-top: 0.8rem;
  padding: 0.4rem 0.6rem;
  border-radius: 2px;
  font-size: 0.9rem;
}

/*# sourceMappingURL=style.css.map */
