// Shared layout

// shared heart animation 

.heart_empty {
    position: relative;
    color: darken($color-grey2, 40);
}

.heart_full {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.35s;
    background-image: linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
        opacity: 1;
    }
}

// Shared menu

.menu {
    background-color: $color-grey3;
    border-radius: 35px;
    margin-top: -4rem;
    z-index: 2;
    position: relative;
    padding: 0.8rem 1.2rem 3.5rem 1.2rem;

    .title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-right: 1rem;
        font-size: 1.15rem;
    
        i {
            font-size: 1.5rem;
        }
    }

    .submenu {
        

        .item {
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0.1rem 0.25rem 0.4rem $color-grey2;
            position: relative;
            margin-bottom: 1rem;
            
            h4 {
                font-size: 1.1rem;
                margin: 0.7rem 0 0.3rem 0.7rem;
            }

            p {
                font-size: 0.96rem;
                margin: 0 0 0.7rem 0.7rem;
            }

            h4, p {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            &__price {
                position: absolute;
                right: 1.5rem;
                bottom: 0;
                font-weight: bold;
            }
        }
       

    }


} 

img {
    width: 100%;

}