// Shared layout

// shared heart animation 

.heart_empty {
    position: relative;
    color: darken($color-grey2, 40);
}

.heart_full {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.35s;
    background-image: linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
        opacity: 1;
    }
}

// Shared menu

img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.menu {
    background-color: $color-grey3;
    border-radius: 38px;
    margin-top: -4rem;
    z-index: 2;
    position: relative;
    padding: 0.8rem 1.2rem 3.5rem 1.2rem;

    .title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-right: 1rem;
        font-size: 1.15rem;
    
        i {
            font-size: 1.5rem;
        }
    }

    .button {
        display: block;
        margin: auto;
        margin-top: 3rem;
        width: 185px;
    }
    
    .submenu {

        h3 {
            font-size: 1rem;
            font-weight: 400;
            margin: 2.5rem 0 1.5rem 0;
            position: relative;

            &::after{
                content: "";
                width: 2.5rem;
                height: 0.18rem;
                background-color: $color-tertiary;
                position: absolute;
                left: 0;
                bottom: -10px;
            }
        }

        .nomargintop {
            margin-top: 0;
        }

        .item {
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0.1rem 0.25rem 0.4rem $color-grey2;
            margin-bottom: 1rem;
            
            h4 {
                font-size: 1.1rem;
                margin: 0.7rem 0 0.3rem 0.7rem;
            }

            p {
                font-size: 0.96rem;
                margin: 0 0 0.7rem 0.7rem;
            }

            &__txt {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__price {
                margin-right: 1.3rem;
                display: flex;
                align-items: flex-end;
                font-weight: bold;
            }
        }
    }
} 
