.button {
    background: linear-gradient($color-secondary, $color-primary);
    color: #FFF;
    padding: 0.9rem 1.5rem;
    border: none;
    border-radius: 3rem;
    font-size: 1rem;
    box-shadow: $default-shadow;
}
