// Colors

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #353535;
$color-grey2: #eaeaea;
$color-grey3: #f6f6f6;

// Font-size

$size-h2: 1.54rem;
$size-p: 1.06rem;

// margin

$padding-mobile: 0 1.2rem;

// shadow

$default-shadow: 0.1rem 0.25rem 0.4rem darken($color-grey3, 20);




